{% extends 'base.html' %}

{% block page-header %}
客户信息表
{% endblock %}

{% block page-content %}
    <table class="table table-striped">     #使用bootsrtap定义好的样式，将客户信息展示在一个表里
        <thead>　　　　　　　　　　　　　　　　　＃表头
            <tr>　　　　
                <th>ID</th>　　　　　　　　　　＃每列标题
                <th>QQ</th>
                <th>姓名</th>
                <th>渠道</th>
                <th>咨询课程</th>
                <th>班级类型</th>
                <th>客户备注</th>
                <th>状态</th>
                <th>课程顾问</th>
                <th>日期</th>
            </tr>
        </thead>
        <tbody>　　　　　　　　　　　　　　　　　　　　　　　　　＃表的主题内容
            {% for customer in customers_list %}
                <tr>
                    <td>{{ customer.id }}</td>　　　　　　＃每列展示的美美容
                    <td>{{ customer.qq }}</td>
                    <td>{{ customer.name }}</td>
                    <td>{{ customer.source }}</td>
                    <td>{{ customer.course }}</td>
                    <td>{{ customer.get_class_type_display }}</td>    ＃get_class_type_display 显示中文
                    <td>{{ customer.customer_note|truncatechars:30}}</td>　　　＃｜truncatechars:30 默认在页面只显示30个字节
                    <td class="{{ customer.status }}">{{ customer.get_status_display }}</td>  ＃根据不同的状态，添加底色样式，css样式在customers.css中定义
                    <td>{{ customer.consultant}}</td>
                    <td>{{ customer.date }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}
